.hero {
    position: relative;
}

.banner-img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
    position: absolute;
    width: 50%;
    padding-left: 5%;
    bottom: 10%;
}

.caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p {
    max-width: 700px;
    font-size: 15px;
    margin-bottom: 20px;
}

.hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-btns .btn img{
    width: 35px;
}

.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    background: white;
    border-radius: 5%;
    cursor: pointer;
}

.hero-btns .btn.dark-btn {
    color: white;
    background: #6d6d6eb3;
}

.hero-btns .btn:hover {
    opacity: 0.6;
}

.more-cards {
    padding-left: 5%;
}

@media (max-width: 1024px) {
    .hero-btns {
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .hero-caption {
        padding-left: 4%;
    }

    .caption-img {
        margin-bottom: 10px;
        width: 40%;
    }

    .hero-caption p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .hero-btns .btn img {
        width: 20px;
    }

    .more-cards {
        padding-left: 4%;
    }
}

@media (max-width: 500px) {
    .caption-img {
        display: none;
    }

    .hero-btns .btn img {
        width: 15px;
    }

    .btn {
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}